
html {
	font-size: 10px
}
.container--top {
	color: black;
	font-color: white;
    height: 700px;
    width: 1200px;
    background-image: url("lake.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    padding: auto;
  }

  .container__title {
  	color: white;
  	font-style: bold;
  	font-size: 5rem;
  	padding-left: 6rem;
  	padding-top: 3rem;
  	font-family: arial;
  }

  .copy--top {
  	color: white;
  	font-size: 3rem;
  	text-align: center;
  	padding-top: 10rem;
  	font-family: arial;
  }
 #button1 {
	  color: black;
	  background-color: yellow;
	  font-size: 1.5rem;
	  font-family: arial;
	  font-weight: bold; 
	  border: none;
	  width: 15rem;
	  height: 3rem;
	  border-radius: 5px;
	  margin-right: auto;
	  margin-left: auto;
	  padding top: 10rem;
	  display:block;
	  text-align:center;
	  margin-top: 10rem;
}

.sectiontwo {
	background-color: #eee9e9;
	height: 500px;
	width: 1200px;
	margin-top: -5px;
	font-family: arial;
	margin: 0;
	padding-top: 2rem;

}

.sectiontwo__header{
	color: black;
	font-size: 5rem;
	padding-left: 6rem;
  	padding-top: 3rem;
}

.sectiontwo__copy {
	font-size: 2.1rem;
	padding-left: 6rem;
	padding-top: -10px;
	color: gray;
	width: 500px;
}

#bullets1 {
	list-style-type: circle solid;
	color: gray;
	font-size: 2.1rem;
	padding-left: 12rem;
	width: 370px;

}

li {
	margin-bottom: 1rem;
}

.sectionthree {
    height: 300px;
    width: 1200px;
    background-image: url("water.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    padding: auto;
    display: inline-block;
    margin-top: -5px;
}
.sectionthree__copy {
	font-family: arial;
	font-size: 2.1rem;
	color: white;
	font-style: italic;
	text-align: center;
	padding-top: 6rem;
	padding-left: 425px;
	padding-right: 425px;
}

#quotename {
	font-family: arial;
	font-size: 2.1rem;
	color: white;
	font-style: italic;
	text-align: center;
}

.sectionfour {
	background-color: yellow;
    height: 100px;
    width: 1200px;
    padding: auto;
    display: inline-block;
    margin-top: -5px;
  }

#button2 {
	  color: white;
	  background-color: #040436;
	  font-size: 1.5rem;
	  font-family: arial;
	  font-weight: bold; 
	  border: none;
	  width: 15rem;
	  height: 3rem;
	  border-radius: 5px;
	  margin-right: auto;
	  margin-left: auto;
	  display:block;
	  text-align:center;
	  margin-top: 3.5rem;
}

.sectionfive {
	background-color: black;
    height: 300px;
    width: 1200px;
    padding: auto;
    display: inline-block;
    margin-top: -5px;
  }
.sectionfive__copy{
	color: yellow;
	text-align: center;
	font-size: 5rem;
	font-style: bold;
	font-family: arial;
}

footer {
	color: white;
	font-size: 1.5rem;
	text-align: center;
	font-style: italic;
}
#sectionfive__image {
	margin-right: auto;
	margin-left: auto;
	display:block;
	text-align:center;
	padding-bottom: 3rem;
}

img { padding-right: 1rem}

#wrap {
	width: 1200px; 
	margin: 0 auto; 
}